#degerlendirme{
    margin-left: 10px;
}
#althr{
margin-top: 200%;
}

.chart-container {
    width: 100%;
    height: 600px; 
    margin: auto;
}
.sidebar {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-pills {
    margin-bottom: auto;
}
.content {
    margin-left: 280px;
    padding: 20px;
}
.card {
    border: 1px solid #ddd;
    max-width: 1000px !important;
}


.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: white !important;
    background:#0d6efd;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.profile-icon svg {
    width: 100px;
    height: 100px;
}


.adaybilgi {
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto; 
}

.adaybilgi .container {
    padding: 20px; 
}

.adaybilgi .row {
    margin-bottom: 20px; 
}

.adaybilgi .col-3 h1 {
    font-size: 1.5rem; 
    word-wrap: break-word; 
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon svg {
    width: 100px;
    height: 100px;
}


.section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.legend {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.legend-item {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-color {
    width: 20px;
    height: 10px;
}


@media (max-width: 768px) {
    .adaybilgi .col-3 {
        flex: 0 0 50%; 
        max-width: 50%;
    }

    .adaybilgi .row {
        margin-bottom: 10px; 
    }

    .adaybilgi .col-3 h1 {
        font-size: 1.2rem; 
    }

    .section-title {
        font-size: 1.5rem; 
    }
}


@media (max-width: 480px) {
    .adaybilgi .col-3 {
        flex: 0 0 100%; 
        max-width: 100%;
    }

    .adaybilgi .col-3 h1 {
        font-size: 1rem; 
    }

    .section-title {
        font-size: 1.2rem; 
    }
}


.chart-container {
    width: 100%;
    height: 600px; 
    margin: auto;
    padding: 20px; 
    box-sizing: border-box; 
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.failure-message {
    color:red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.failure-title {
    color:red;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-description {
  
    font-size:20px;
}
.filter_contain{
    display:flex;
}